.grid-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

#query {
  margin-right: 20px;
  width: 30%;
}
